.cardPinned {
  width: 16.45vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0 !important;
  cursor: pointer;
  position: relative;
  overflow: unset !important;
}

.cardPinned:hover {
  background: rgba(0, 0, 0, 0.02);
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

.titlePinned {
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 1.25rem
    var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0.5rem;
  width: 12.5vw;
  display: flex;
}

.titlePinnedName {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}

.version {
  font: normal normal 600 var(--base_text_font_size) / 1.25rem
    var(--font_family);
  letter-spacing: 0px;
  color: #828282;
  margin-left: 0.5vw;
}

.processStatus {
  font: normal normal 600 11px / 15px var(--font_family);
  letter-spacing: 0px;
  color: #606060;
  text-transform: uppercase;
  text-align: left;
  margin-left: 0.125vw;
}

.processCat {
  letter-spacing: 0px;
  color: #606060;
  font: normal normal normal 11px / 15px var(--font_family);
  margin: 0.125rem 0 0.75rem 0;
  width: 12.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.processModification {
  text-align: left;
  font: normal normal normal 10px / 14px var(--font_family);
  letter-spacing: 0px;
  color: #606060;
}

.fileLogo {
  margin-top: 0.5rem;
  width: 1.34rem;
  aspect-ratio: 1;
}
.typeColor {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  margin: 3.5px 0 0;
}

.pinnedCardContent {
  padding: var(--spacing_v) !important;
}

.processNameDiv {
  background: rgba(0, 114, 198, 0.07) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  gap: 0.5vw;
  padding: 0 0 0 0.5vw;
}

.logoDiv {
  flex: 1;
}

.titleDiv {
  flex: 10 1;
  text-align: left;
}

.pinnedProcessAlignment {
  margin: 0.25rem 0 0 2.25vw;
}
