/* Made changes to solve bug ID - 111180, 112972 , 111162 and 111182 */

.dropDownSelectLabelDMS {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.dropDownSelectLabel_expanded {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.dropDownSelect {
  width: 11.5rem;
  height: 2.33rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 1rem/1.4167rem Open Sans;
  border: 1px solid #c4c4c4;
  border-radius: 0.17rem;
  opacity: 1;
  /* margin-right: 0.833rem; */
  margin-top: 0.833rem;
}

.dropDownSelect_expandeddms {
  width: 11.5rem;
  height: 2.33rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 1rem/1.4167rem Open Sans;
  border: 1px solid #c4c4c4;
  border-radius: 0.17rem;
  opacity: 1;
  margin-right: 0.833rem;
  margin-top: 0.833rem;
}

.userNameInput,
.passwordInput {
  width: 11.5rem;
  height: 2.0833rem;
  margin-right: 0.833rem;
  border: 1px solid #c4c4c4;
  padding: 0.4167rem;
}

.folderNameTextArea {
  width: 17.333rem;
  height: 4.584rem;
  border: 1px solid #c4c4c4;
  margin-left: 9.167rem;
  padding: 0.417rem;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table::-webkit-scrollbar {
  display: none;
}


.table th {
  text-align: left;
  padding: 0.67rem;
  font-size: 1.17rem;
}

.table td {
  text-align: left;
  padding: 0.67rem;
  font-size: 1rem;
}

.table tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.34rem;
}

.filterTriggerButton {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 0.17rem;
  padding: 0 0.25rem;
  height: 1.5rem;
  cursor: pointer;
  margin-left: 0.417rem;
}

.propertiesAddButton {
  padding: 0.25rem 1vw;
  text-transform: capitalize;
  margin-bottom: 0.25rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #338ed1;
  border-radius: 0.17rem;
  text-align: left;
  font: normal normal 600 1rem/1.4167rem Open Sans !important;
  letter-spacing: 0px;
  color: #0072c6;
  cursor: pointer;
}

.propertiesAddButton:disabled {
  cursor: default;
  background-color: rgba(84, 84, 84, 0.04);
  color: rgba(84, 84, 84, 0.6);
  border: 1px solid rgba(84, 84, 84, 0.5);
}

.argStringBodyInput {
  width: 15vw;
  height: 7rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #dadada;
  margin-right: 0.833rem;
}

.propertiesAddButton_connect {
  padding: 0.25rem 1vw;
  text-transform: capitalize;
  margin-bottom: 0.25rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #338ed1;
  border-radius: 0.17rem;
  text-align: left;
  font: normal normal 600 1rem/1.4167rem Open Sans !important;
  letter-spacing: 0px;
  color: #0072c6;
  cursor: pointer;
  margin-left: 0.417rem;
}

.archieveScreen {
  overflow-y: auto;
  height: 65vh;
}

#archieve_cabinet {
  /* font-size: 1.17rem; */
  margin-left: 0.417rem;
}

#archieve_userName {
  /* font-size: 1.17rem; */
  margin-left: 0.417rem;
}

#archieve_password {
  /* font-size: 1.17rem; */
  margin-left: 0.417rem;
}

#archieve_folderName {
  /* font-size: 1.17rem; */
  margin-left: 0.417rem;
}

#archieve_dataClass {
  font-size: 1.1rem;
  margin-left: 0.417rem;
  margin-top: 0.67rem;
}

#archieve_workItemAudit {
  /* font-size: 1.17rem; */
  margin-top: 0.67rem;
  margin-left: 0.417rem;
}

#archieve_docTypes {
  font-size: 1.17rem;
  font-weight: 700;
  margin-left: 0.417rem;
}

#ok_AddVariableModal_DMSAdapter {
  height: 2.084rem;
  width: 4.17rem !important;
  min-width: none;
  margin-left: 0.17rem;
  margin-right: 0.833rem;
}

#close_AddVariableModal_DMSAdapter {
  height: 2.17rem;
  width: 5.417rem;
  text-transform: none;
}
