.importXmlBtn {
  background: #0072c6 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 6rem;
  height: 1.6rem;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-left: 1rem;
  cursor: pointer;
}

.importXmlBtnDisable {
  background: #0072c6 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 0.5;
  width: 6rem;
  height: 1.6rem;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-left: 1rem;
  cursor: pointer;
}
.input {
  margin-left: 4rem;
  padding-left: 0.5rem;
  height: 1.5rem;
}
.inputCollapse {
  margin-left: 1rem;
  padding-left: 0.5rem;
  height: 1.5rem;
}
.destinationText {
  margin-left: 4rem;
}
.destinationTextCollapse {
  margin-left: 1rem;
}
.message {
  margin-left: 2rem;
  width: 10rem;
  font: normal normal 500 15px/17px Open Sans;
}
.messageCollapse {
  margin-left: 2rem;
  width: 10rem;
  font: normal normal 600 15px/17px Open Sans;
  color: #0072c6;
  cursor: pointer;
  text-decoration: underline;
}
.search {
  margin-left: 5rem;
  width: 6rem;
  font: normal normal 500 15px/17px Open Sans;
}
.update {
  margin-left: 5rem;
  width: 6rem;
  font: normal normal 500 15px/17px Open Sans;
}
.variable {
  margin-left: 5rem;
  font: normal normal 500 15px/17px Open Sans;
}

.addNewRule {
  font-size: 1.5rem !important;
}

.footer {
  /* width: 100%; */
  /* margin-left: -1rem;
  margin-right: -1rem; */
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  height: 30px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  /* top: 80; */
}

.readXml {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.inputXml {
  width: 85%;
  height: 10rem;
  margin-left: 2rem;
  padding-top: 0 !important;
}
.pasteXml {
  margin-left: 2rem;
  margin-top: 0.5rem;
  font: normal normal 600 14px/17px Open Sans;
}
.readXmlBtn {
  background: #0072c6 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 5rem;
  height: 1.6rem;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 1rem;
}
