.Graph {
  /*height and width are set according to canvas width of graph in bpmn*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "grid";
}

.Grid {
  position: relative;
  height: inherit;
}

.Grid svg {
  position: absolute;
  z-index: 1;
  overflow: scroll;
}

.propertiesButton_bpmn {
  z-index: 10;
  height: 30px;
  width: 7vw;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
  position: absolute;
  top: 9rem;
  right: -3.25rem;
  transform: rotate(90deg);
}

.propertiesButton_abstract {
  z-index: 10;
  height: 30px;
  width: 7vw;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
  position: absolute;
  top: 9rem;
  right: -3.25rem;
  transform: rotate(90deg);
}

.stopIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: var(--base_text_font_size);
  font-family: var(--font_family);
  letter-spacing: 0px;
  font-weight: 500;
}

.mxPopupMenu {
  position: absolute;
  z-index: 200;
}

.mxPopupMenu table {
  border: 1px solid #dadada;
  box-shadow: 0px 3px 6px #dadada;
  border-radius: 2px;
  background: white;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: center;
  padding: 0.25rem 0.5vw;
  width: 10vw;
  font-size: 12px;
  color: #000000;
}

.disabledPropertiesBtn {
  opacity: 50%;
}
