.mainDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    font-family: "Open Sans";
    height: 66vh;
    overflow-y: scroll;
  }
  
  .mainContent{
      display: flex;
      flex-direction: column;
      height: 100%;
     
  }
  
  .firstContentBox{
    display: flex;
      flex-direction: column;
      padding: 0.7rem;  
  }
  .radioButton{
      font-family: "Open Sans";
      color: #727272;
      font-size: 0.9rem;
      white-space: nowrap;
      opacity: 1;
      font-weight: 500;
  }