.checklist {
  font: normal normal 500 12px/17px Open Sans;
}

.docTypes {
  margin-left: 1.5rem;
  width: 13rem;
  font: normal normal 500 15px/17px Open Sans;
}
.checkBox {
  margin-left: 2rem;
  width: 6rem;
  font: normal normal 500 15px/17px Open Sans;
}
.allowAddition {
  margin-left: 1rem;
  width: 8rem;
  font: normal normal 500 15px/17px Open Sans;
}
.scanAddition {
  margin-left: 3rem;
  width: 10rem;
  font: normal normal 500 15px/17px Open Sans;
}
.scanTextarea {
  width: 70%;
  height: 15rem;
  background-color: #f6f5f5;
  border: 1px solid black;
}
.scanAction {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: #0072c6 0% 0% no-repeat padding-box;
  border-radius: 1px;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  font: normal normal normal 10px/15px Open Sans;
  padding: 0 0.25rem;
  align-items: center;
  width: 6rem;
  height: 1.5rem;
}
.ScanFooter {
  position: absolute;
  bottom: 20px;
}
.okBtn {
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  background: #0072c6 0% 0% no-repeat padding-box;
  border: 1px solid #0072c6;
  border-radius: 2px;
  padding: 0.25rem 1rem;
  margin-left: 45vw;
  margin-right: 1vw;
  cursor: pointer;
}
.CancelBtn {
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  background: #c4c4c4 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  padding: 0.25rem 1rem;

  cursor: pointer;
}

.scanInput {
  width: 16rem;
}
