.flexRow {
  display: flex;
  flex-direction: row;
}

.heading {
  text-align: left;
  font: normal normal 600 var(--title_text_font_size) / 1.5rem
    var(--font_family) !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 0.625rem;
  margin-top: 0.5rem !important;
}

.invocationTypeDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.labelStyles {
  cursor: pointer;
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 1.5rem var(--font_family) !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 0.5rem !important;
}

.replyActivityDiv {
  margin-top: 10px;
}

.asterisk {
  color: red;
  margin-top: 7px;
  margin-left: 2px;
}

.subHeading {
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 1.0625rem
    var(--font_family) !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 31px;
  margin-top: 10px !important;
}

.dropdownInput {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 150px;
  height: 30px;
  margin-left: 10px;
  margin-top: 4px;
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 1.0625rem
    var(--font_family) !important;
}

.menuItemStyles {
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 1.5rem
    var(--font_family) !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
