/*
scroll bar added for bug id 115276
*/

.marginAllAround {
  height: 32rem;
  /* overflow: auto; */
  padding: 1rem 1vw;
  background: white;
}

.marginAllAround::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.varUsedLabel {
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  letter-spacing: 0px;
  color: #798777;
  margin-top: 0.5rem;
}

.menuItemStylesDropdown {
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.dropdownEmail {
  width: 15vw;
  height: var(--line_height);
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.document {
  text-align: left;
  font: normal normal normal 14px/16px Open Sans;
  color: #070707;
  opacity: 1;
  width: 10rem;
  vertical-align: middle;
}
.print {
  text-align: left;
  font: normal normal normal 14px/16px Open Sans;
  color: #070707;
  opacity: 1;
  width: 10rem;
  vertical-align: middle;
}
.notFound {
  text-align: left;
  font: normal normal normal 14px/16px Open Sans;
  color: #070707;
  opacity: 1;
  width: 18rem;
  vertical-align: middle;
}

.addbtnEmail {
  min-width: 4vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid var(--button_color);
  border-radius: 2px;
  text-align: center;
  font: normal normal 600 var(--base_text_font_size) / 17px var(--font_family);
  letter-spacing: 0px;
  color: var(--button_color);
  cursor: pointer;
}

.disabledbtnEmail {
  min-width: 4vw;
  background: rgba(0, 0, 0, 0.12);
  border: none;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  text-align: center;
  font: normal normal 600 var(--base_text_font_size) / 17px var(--font_family);
  letter-spacing: 0px;
  cursor: default;
}

.boldText {
  text-align: left;
  font: normal normal 600 var(--subtitle_text_font_size) / 19px
    var(--font_family);
  color: #070707;
  vertical-align: middle;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hrLineSend {
  border: 0.5px solid #c4c4c4;
  width: 100%;
  margin: 1rem 0;
}

.emailCheck svg {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.starIcon {
  color: red;
  margin-left: 0.25vw;
  font-size: 1rem;
}
