.tabHeadingDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.625rem;
}

.tabHeading {
  text-align: left;
  font: normal normal 600 0.75rem/1.063rem Open Sans;
  letter-spacing: 0rem;
  color: #000000;
  opacity: 1;
  margin: 0.75rem 0.688rem 0rem 0rem;
}

.addButton {
  text-align: left;
  font: normal normal 600 0.75rem/1.063rem Open Sans;
  letter-spacing: 0rem;
  color: #0072c6;
  opacity: 1;
  margin: 0.75rem 2.875rem 0px 0.875rem;
}

.dataModelNavBar {
  width: 17vw !important;
  background: white;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
}
