.mainDiv {
  margin-top: 0.063rem;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #fcfcfc;
}

.dataModelNavBar{
  width: 17vw !important;
  background: white;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

.labelData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.labelCount {
  text-align: left;
  font: normal normal 600 11px/14px Open Sans;
  letter-spacing: 0px;
  color: #7c7c7c;
  opacity: 1;
}

.tabHeadingDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.625rem;
}

.tabHeading {
  text-align: left;
  font: normal normal 600 0.75rem/1.063rem Open Sans;
  letter-spacing: 0rem;
  color: #000000;
  opacity: 1;
  margin: 0.75rem 0rem 0rem 0.688rem;
}

.addButton {
  text-align: left;
  font: normal normal 600 0.75rem/1.063rem Open Sans;
  letter-spacing: 0rem;
  color: #0072c6;
  opacity: 1;
  margin: 0.75rem 0.875rem 0px 2.875rem;
}

.dataModelTab {
  min-height: 1.625rem !important;
  padding: 0.125rem 0.25rem !important;
  font: 0.75rem / 1.063rem Open Sans !important;
  letter-spacing: 0rem !important;
  color: black !important;
  opacity: 1;
  margin: 0.125rem 0 !important;
}

.labelName {
  width: auto !important;
  text-align: left !important;
  margin-left: 0.25rem !important;
  font: normal normal 500 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000 !important;
}
