.rule {
  max-height: 65vh;
  overflow-y: auto;
}

.rule::-webkit-scrollbar {
  width: 0.25rem;
  height: 10px;
  background-color: white;
}
.rule::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 10px;
}
.attachmentHeader {
  justify-content: space-between;
  padding: 0.5rem 1.5vw 0 1.5vw;
  align-items: center;
}
.addAttachHeading {
  font: normal normal 700 14px/19px Open Sans;
  letter-spacing: 0px;
  color: #000000;
}
.addAttachBtn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #0072c5;
  border-radius: 2px;
  text-align: center;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #0072c6;
  padding: 0.25rem 0.5vw;
  width: 4rem;
  cursor: pointer;
}

.expandedView .tableDiv {
  padding: 1rem 1.5vw;
  width: 98%;
}
.collapsedView .tableDiv {
  padding: 1rem 0.3vw;
  width: 100%;
}

.expandedView .tableHeaderRow {
  padding: 0.25rem 1vw;
  display: flex;
  align-items: center;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #f8f8f8;
  border-radius: 2px;
}
.collapsedView .tableHeaderRow {
    padding: 0.25rem 1vw;
    display: flex;
    align-items: center;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    border: 1px solid #f8f8f8;
    border-radius: 2px;
    height: 2rem;
  }
  

.tableRow {
  padding: 0.25rem 1vw;
  display: flex;
  align-items: center;
  border: 1px solid #f8f8f8;
}

.tableRow:nth-child(even) {
  background: #f8f8f8 0% 0% no-repeat padding-box;
}
.tableRow:nth-child(odd) {
  background: white;
  height: 2rem;
}

.attachDiv {
  width: 30%;
  margin: 1vw;
}
.attachDivCollapsed {
  width: 69%;
  margin: 1vw;
}

.descDiv {
  width: 30%;
  margin: 1vw;
}

.iconDivExpanded {
  width: 30%;
  text-align: left !important;
}
.iconDivCollapsed {
  width: 37%;
  text-align: left !important;
}

.expandedView .divHead {
  text-align: left;
  font: normal normal 600 13px/18px Open Sans;
  letter-spacing: 0.42px;
  color: #070707;
}
.collapsedView .divHead {
    text-align: left;
    font: normal normal 600 12px/17px Open Sans;
    letter-spacing: 0.42px;
    color: #070707;
    padding: 0.1rem;
     margin: 0.1rem;
  }

.expandedView .divBody {
  text-align: left;
  font: normal normal normal 13px/18px Open Sans;
  letter-spacing: 0.42px;
  color: #070707;
}
.collapsedView .divBody {
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0.42px;
    color: #070707;
}

.cancelIconExpanded {
  width: 4.25rem !important;
  height: 1.25rem !important;
  margin: 0.3vw;
}
.cancelIconCollapsed {
  width: 1.99rem !important;
  height: 1.25rem !important;
  margin: 0.3vw;
  font-size: 9px;
}
.addIconExpanded {
  width: 3.25rem !important;
  height: 1.25rem !important;
  margin: 1vw;
}
.addIconCollapsed {
  width: 1.23rem;
  height: 1.25rem !important;
  margin: 0.2vw;
  
}
.expandedView .conditionDiv {
  width: 40%;
}
.collapsedView .conditionDiv{
    width: 30%;
}
.expandedView .operationDiv {
  width: 40%;
}
.collapsedView .operationDiv {
    width: 30%;
  }
.expandedView .addDiv {
  width: 15%;
  text-align: right !important;
}
.collapsedView .addDiv {
    width: 27%;
    text-align: right !important;
  }
.expandedView .serialDiv {
  width: 5%;
}
.collapsedView .serialDiv {
    width: 7%;
    padding-left: 0.4rem
  }

.ruleInput {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background: #fff;
  width: 80%;
  height: 1.75rem;
  padding: 0 0.5vw;
}
.expandedView .showInput {
  padding: 0.25rem 1vw;
  display: flex;
  align-items: center;
  border: 1px solid #f8f8f8;
  background: #0072c61a;
}
.collapsedView .showInput {
    padding: 0.25rem 0vw;
    display: flex;
    align-items: center;
    border: 1px solid #f8f8f8;
    background: #0072c61a;
  }
.expandedView .cancelBtn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #0072c5;
  border-radius: 2px;
  text-align: center;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #0072c6;
  padding: 0.25rem 0.5vw;
  width: 4rem;
}
.collapsedView .cancelBtn {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #0072c5;
    border-radius: 2px;
    text-align: center;
    font: normal normal 600 8px/13px Open Sans;
    letter-spacing: 0px;
    color: #0072c6;
    height: 1rem;
    margin: 0 0.2vw;
    width: 2rem;
  }
  
.expandedView .addBtn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #0072c5;
  border-radius: 2px;
  text-align: center;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #0072c6;
  padding: 0.25rem 0.5vw;
  width: 4rem;
  margin: 0.25rem;
}
.collapsedView .addBtn {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #0072c5;
    border-radius: 2px;
    text-align: center;
    font: normal normal 600 8px/13px Open Sans;
    letter-spacing: 0px;
    color: #0072c6;
    height: 1rem;
    width: 2rem;
    margin: 0 0.2vw;
  }
  .expandedView .divBodyrule {
    text-align: left;
    font: normal normal normal 13px/18px Open Sans;
    letter-spacing: 0.42px;
    color: #070707;
  }
  .collapsedView .divBodyrule {
      text-align: left;
      font: normal normal normal 12px/17px Open Sans;
      letter-spacing: 0.42px;
      color: #070707;
  }
  .expandedView .showInput1 {
    padding: 0.25rem 1vw;
    display: flex;
    align-items: center;
    border: 1px solid #f8f8f8;
    
  }
  .collapsedView .showInput1 {
      padding: 0.25rem 0vw;
      display: flex;
      align-items: center;
      border: 1px solid #f8f8f8;
     
    }
    .expandedView .conditionDiv1 {
        width: 40%;
      }
      .collapsedView .conditionDiv1{
          width: 43%;
          margin:-0.9rem;
      }
      .expandedView .operationDiv1{
        width: 40%;
      }
      .collapsedView .operationDiv1 {
          width: 30%;
        }