.oneInputPairDiv_Common {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7px;
    margin-bottom: 4px;
    height: 30px;
  }
  
  .selectOne_callActivity,
  .selectTwo_callActivity {
    width: 136px;
    height: 28px;
    background: #ffffff 0% 0% no-repeat padding-box;
    font: normal normal normal var(--base_text_font_size)/17px Open Sans !important;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    opacity: 1;
  }
  
  .selectOne_callActivity {
    padding: 2px;
  }
  
  .InputPairDiv_CommonList {
    text-align: left;
    font: normal normal normal var(--base_text_font_size)/24px Open Sans !important;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  
  .forwardMapping_VariablesLabel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 7px;
    border-bottom: 1px solid grey;
  }
  .forwardMapping_VariablesHeader {
    width: 136px;
    height: 52px;
    padding: 8px;
    background-color: #f4f4f4;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
  }
  
  .targetProcess {
    font-size: var(--base_text_font_size);
    color: grey;
  }
  
  .processName_CallActivity {
    font-size: var(--base_text_font_size);
  }
  
  .forwardMapping_VariablesHeaderDiv {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 0px 8px;
  }
  
  #close_AddVariableModal_CallActivity {
    text-transform: none;
    width: 54px;
    height: 28px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    opacity: 1;
  }
  
  #add_AddVariableModal_CallActivity {
    text-transform: none;
    width: auto;
    height: 28px;
    margin-left: 10px;
    background: var(--blue-1-0072c6) 0% 0% no-repeat padding-box;
    background: #0072c6 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }
  