/* .filterStringMainDiv {
  margin-bottom: 40px;
} */

.subHeader {
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 22px;
}

.filterStringInput {
  margin-top: 1rem;
  width: 36.89vw;
  height: 3.5rem;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  border: 1px solid #c4c4c4;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.asterisk {
  color: red;
  margin-top: 4px;
  margin-left: 2px;
  font-size: 0.75rem;
}

.fieldTitle {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  opacity: 1;
}

.complexTableMargin {
  margin-top: 10px;
}

.dropdown {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 8.75rem;
  height: 28px;
  margin-right: 0.75rem;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
}

.cancelBtn {
  background-color: #ffffff;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  cursor: pointer;
  height: 28px;
  width: 60px;
  margin-top: 24px;
  border: 1px solid #c4c4c4;
  padding: 2px;
  border-radius: 2px;
  opacity: 1;
  cursor: pointer;
}

.addBtn {
  background: #0072c6 0% 0% no-repeat padding-box !important;
  border-radius: 2px !important;
  border: 1px solid #0072c6 !important;
  text-align: center;
  font: normal normal 600 12px/17px Open Sans !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  padding: 2px;
  margin-top: 24px;
  margin-left: 10px;
  width: 40px;
  cursor: pointer;
  height: 30px;
}

.disabledBtnStyles {
  cursor: default;
  opacity: 0.6;
}

.buttonsDiv {
  align-items: center;
  margin: 0px 0.625rem 0px auto;
}

.menuItemStyles {
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.filterDataHeader {
  height: 32px;
  background-color: #f0f0f0;
}

.headers {
  text-align: left;
  font: normal normal 600 12px/16px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.filterStringDataDiv {
  border: 1px solid #e4e4e480;
  height: 40px;
}

.filterStringEnclosingDiv {
  height: 24vh;
  margin-top: 26px;
  margin-right: 0.625rem;
}

.filterStringDataExchgTable {
  margin: 0.5rem 0rem 0.4375rem 1rem;
  width: 122px;
}

.filterStringTableHeader {
  margin: 0.5rem 0rem 0.4375rem 4.125rem;
  width: 100px;
}

.filterStringDataMainDiv {
  border: 1px solid #e4e4e480;
  max-height: 19.2vh;
  overflow-y: scroll;
}

.filterStringDataMainDiv::-webkit-scrollbar {
  background-color: transparent;
  width: 0.375rem;
  height: 1.125rem;
}

.filterStringDataMainDiv::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0.313rem;
}

.filterStringDataMainDiv:hover::-webkit-scrollbar {
  overflow-y: scroll;
  width: 0.375rem;
  height: 1.125rem;
}

.filterStringValueDataFont {
  font: normal normal normal 12px/17px Open Sans;
}

.deleteIcon {
  color: red;
  margin: 6px 26px 7px auto;
  cursor: pointer;
}
