.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.pinnedDiv {
  margin-left: 1rem;
}

.pinnedTitle {
  /* width: 86px; */
  height: 22px;
  text-align: left;
  font: normal normal 600 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.viewAll {
  /* width: 50px; */
  height: 17px;
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #0072c6;
  opacity: 1;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.recentTableRowCss {
  margin: 0;
  color: #606060;
  text-align: left;
  letter-spacing: 0px;
}

.recentTableName {
  margin: 0;
  width: 15.5vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.recentTableProcessType {
  margin: 0;
  /* font-weight: 600; */
  text-transform: uppercase;
}

.recentTableProcessDate {
  margin: 0;
  /* font-weight: 600; */
}

.recentTable {
  background: white;
  margin: 0 30px 0 10px;
}

.recentTableProjectName {
  margin: 0 0 0 10px;
  color: #606060;
}

.recentTableVersion {
  margin: 0;
}

.recentTableProcessTypeColor {
  margin: 5px 5px 0 0;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

.ProcessTypeColor {
  margin: 5px 5px 0 0;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

.middleDiv::-webkit-scrollbar {
  display: none;
}

.middleDiv {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  padding-top: 10px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.middleDivActivities {
  background-color: white;
  width: 23vw;
}

#mf_activitystream_lpweb {
  height: 100%;
  width: 100%;
  text-align: center;
}

.RecentTableDiv {
  width: 96%;
  margin-left: 1rem;
}

.middleDivContainer {
  height: 100%;
  /* width: 94.8vw !important; */
  background-color: #f8f8f8;
}

.PinnedTableDiv {
  width: 97.5%;
}
