.heading {
  font-size: var(--subtitle_text_font_size);
  font-weight: bold;
  white-space: nowrap;
}
.button {
   width: 11rem !important;
 height: 2.3rem !important;
  border: 1px solid var(--button_color) !important;
  color: var(--button_color) !important;
  /* font-size: 0.75rem; */
  /* font-weight: 600;
  white-space: nowrap; */
}
.moreVertIcon {
  color: #606060 !important;
  cursor: pointer;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.multipleTableContainer {
  margin-right: 25px;
  min-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.multipleTableDiv {
  display: flex;
  width: 100%;
  min-height: 3.2rem;
  flex-direction: row;
  height: 10%;
  /* justify-content: space-evenly; */
}
