.heading {
  font-size: 0.875rem;
  font-weight: bold;
  white-space: nowrap;
}
.button {
  width: 6.5625rem;
  height: 1.5625rem;
  border: 1px solid #0072c6;
  color: #0072c6;
  font-size: 0.75rem;
  font-weight: 600;
  white-space: nowrap;
}
.multipleTableContainer {
  margin-right: 25px;
  min-width: 8rem;
  white-space: nowrap;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.multipleTableDiv {
  display: flex;
  width: 100%;
  min-height: 2.5rem;
  flex-direction: row;
  height: 10%;
  /* justify-content: space-evenly; */
}
