.dataTable {
  min-height: 10rem;
  height: 10rem;
  max-height: 12rem;
  overflow: auto;
}

.dataTableBody {
  border: 1px solid #f0f0f0;
  display: block;
  max-height: 12rem;
  overflow-y: auto;
}

.dataTableBodyWithNoData {
  min-height: 10rem;
}

.dataTableBody::-webkit-scrollbar {
  width: 0.25rem;
  height: 10px;
  background-color: white;
}
.dataTableBody::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 10px;
}

.dataTableHead,
.dataTableBody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.dataTableHead {
  background: #f0f0f0 0% 0% no-repeat padding-box;
}

.dataTableHeadCell,
.dataTableBodyCell {
  padding: 0.5rem 1rem !important;
}

.dataTableHeadCellContent {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
}

.dataEntryAddRemoveBtnHeader {
  text-align: right;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  cursor: pointer;
}

.dataTableRow {
  height: 2rem;
  border-bottom: 1px solid #f0f0f0;
}

.dropdownVariable {
  display: flex;
  flex-direction: column;
}

.dropdownVariable span:first-child,
.dropdownVariableType {
  text-align: left;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.dropdownVariableType {
  margin-top: 0.5rem;
}

.dropdownVariable span {
  text-align: left;
  font: normal normal normal 10px/14px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.48;
}
.noDataEntryRecords {
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
  margin: 1rem 0;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #000000;
}
