.noRuleAddedString {
  font: normal normal normal 12px/20px Open Sans;
  letter-spacing: 0px;
  color: #3a3a3a;
  margin: 1rem 0;
}
.noRuleScreen {
  margin: 5% 0;
  position: absolute;
  top: 25%;
  left: 45%;
  text-align: center;
}
.addRuleButton {
  background-color: var(--button_color) !important;
  color: white !important;
  font-weight: 600 !important;
  border: 1px solid var(--button_color);
  text-align: left;
  font: normal normal 600 12px/17px Open Sans !important;
  font-size: var(--base_text_font_size);
  letter-spacing: 0px !important;
  color: #ffffff !important;
  text-transform: none !important;
  position: relative;
  padding: 0.25rem 0.5rem !important;
}
.RuleScreen {
  display: flex;
  align-items: center;
  height: 80vh;
  max-height: 80vh;
  background-color: white;
  width: 100%;
  margin-left: -17.4375 rem;
  position: absolute;
}
.LeftPannel {
  height: 100%;
  padding-left: 18px;
  width: 21.4375rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.RightPannel {
  height: 100%;
  width: 80%;
  margin-top: 0.625rem;
  margin-left: 2.1875rem;
}

.vl {
  border-left: 2px solid #c4c4c4;
  height: 100%;
  z-index: 1;
}

.noRuleDefined {
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 18%;
  margin-bottom: 3%;
}

.selectedList {
  background-color: #0072c60f;
  color: #000000;
  border-left: 5px solid #0072c6;
  padding-left: 10px;
  height: 3rem;
  padding-top: 0.7rem;
}
.restList {
  /* padding-left: 15px; */
  height: 3rem !important;
  padding: 0.5rem;
  font: normal normal normal 12px/17px Open Sans;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.mainHeading {
  text-align: left;
  font: normal normal 600 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.cancelHeaderBtn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 3.5rem;
  height: 1.8rem;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  text-align: center;
  margin-left: auto;
  cursor: pointer;
}
.addHeaderBtn {
  background-color: var(--button_color) !important;
  color: white !important;
  font-weight: 600 !important;
  border: 1px solid var(--button_color);
  opacity: 1;
  width: 4.2rem;
  height: 1.8rem;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin: 0 0.75rem;
  cursor: pointer;
}
.addnavBtn {
  /* background: #0072c6 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;*/
  background-color: var(--button_color) !important;
  color: white !important;
  font-weight: 600 !important;
  border: 1px solid var(--button_color);
  border-radius: 2px;
  opacity: 1;
  width: 4.2rem;
  height: 1.6rem;

  letter-spacing: 0px;

  text-align: center;
  margin: 0.5rem 0.75rem 0 auto;
  cursor: pointer;
}
.select {
  width: 8rem;
  height: 1.8rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 12px/17px Open Sans;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  /* margin-right: 10px; */
}
.dataDropdown {
  height: 1.8rem !important;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-left: 10px !important;
}
.menuItemStyles {
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.showHeading {
  padding: 0.5rem 1vw;
  display: flex;
  text-align: left;
  font: normal normal 600 14px/19px Open Sans;
  letter-spacing: 0px;
  color: #000000;
}
.showLine {
  width: 70.5vw;
  margin-top: 0.6rem !important;
  margin-left: 1vw !important;
  height: 1px !important;
}
.addNewRule .deleteIcon {
  font-size: 1.2rem !important;
}

.radiobtn {
  font: normal normal normal 14px/19px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.toogleBtn {
  width: 3rem;
  height: 28px;
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 12px/17px Open Sans !important;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
