.headerDiv {
  background: #f0f0f0 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mainCheckbox {
  height: 0.875rem;
  width: 0.875rem;
  color: #c4c4c4 !important;
  border-radius: 2px;
  opacity: 1;
  margin: 9px 0px 9px 16px !important;
}

.aliasNameHeader {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 8px 0px 7px 13px;
}

.typeHeader {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 8px 0px 7px 165px;
}

.dataFieldHeader {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 8px 0px 7px 156px;
}

.arrayHeader {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 8px 0px 7px 149px;
}

.inputsDiv {
  height: 45px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputsSubDiv {
  display: flex;
  flex-direction: row;
}

.aliasNameInput {
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin: 8px 0px 7px 46px;
  width: 220px;
  height: 30px !important;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.variableTypeInput {
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 177px;
  margin: 8px 0px 7px 10px;
  height: 30px;
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.dataFieldInput {
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 174px;
  margin: 8px 0px 7px 7px;
  height: 30px;
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.arrayCheckboxInput {
  height: 0.875rem;
  width: 0.875rem;
  color: #c4c4c4 !important;
  border-radius: 2px;
  opacity: 1;
  margin: 16px 0px 15px 42px !important;
}
.moreOptionsIcon {
  margin: 14px 0px 10px 37px;
}

.buttonDiv {
  margin-right: 8px;
}

.createVariableButton {
  text-align: left;
  letter-spacing: 0px;
  background: #0072c6 0% 0% no-repeat padding-box;
  border: 0.125rem solid #0072c6;
  opacity: 1;
  font: normal normal 600 0.75rem/1.063rem Open Sans !important;
  color: #ffffff;
  border-radius: 0.125rem;
  opacity: 1;
  padding: 0.313rem 0.5rem 1.375rem 0.5rem;
  float: right;
  cursor: pointer;
  height: 28px;
  margin: 8px 0px 9px 78px;
}

.emptyStateMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyStateImage {
  width: 8.25rem;
  height: 4.813rem;
  margin-top: 4.938rem;
}

.emptyStateHeading {
  margin-top: 1.063rem;
  text-align: left;
  font: normal normal bold 1rem/1.375rem Open Sans !important;
  letter-spacing: 0rem;
  color: #000000;
  opacity: 1;
}

.emptyStateText {
  margin-top: 0.375rem !important;
  text-align: left;
  font: normal normal normal 0.75rem/1.25rem Open Sans !important;
  letter-spacing: 0rem;
  color: #3a3a3a !important;
  opacity: 1;
}

.dataDiv {
  height: 45px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
}

.dataCheckbox {
  height: 0.875rem;
  width: 0.875rem;
  color: #c4c4c4 !important;
  border-radius: 2px;
  opacity: 1;
  margin: 16px 0px 15px 16px !important;
}

.aliasNameInputData {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin: 7px 0px 8px 13px;
  width: 220px;
  height: 30px !important;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.variableTypeInputData {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 177px;
  margin: 7px 0px 8px 10px;
  height: 30px;
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.dataFieldInputData {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 174px;
  margin: 7px 0px 8px 7px;
  height: 30px;
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.arrayCheckboxInputData {
  height: 0.875rem;
  width: 0.875rem;
  color: #c4c4c4 !important;
  border-radius: 2px;
  opacity: 1;
  margin: 16px 0px 15px 41px !important;
}

.deleteIcon {
  float: right;
  color: grey;
  margin: 0.809rem 1.188rem 0.875rem 34.125rem;
  cursor: pointer;
  margin-left: auto;
}

.inputsSubDiv .MuiMenu-list {
  margin-left: 10px !important;
}

.infoDiv {
  display: flex;
  flex-direction: row;
}

.infoIcon {
  margin: 15px 0px 14px 47px;
  color: #606060;
  opacity: 1;
}

.infoText {
  width: 122px;
  text-align: left;
  font: normal normal normal 10px/14px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 9px 0px 8px 11px;
}

.viewAndEdit {
  cursor: pointer;
  margin-left: 2px;
  text-align: left;
  font: normal normal normal 10px/14px Open Sans;
  letter-spacing: 0px;
  color: #0072c6;
  opacity: 1;
}
