.brtContainer {
  font-size: 12px;
}

.brtContainerExpand {
  font-size: 14px;
}

.label-heading {
  margin: 8px;
  font-family: "Open Sans, Semibold";
  font-size: var(--subtitle_text_font_size);
}
.label-heading-expand {
  margin: 8px;
  font-family: "Open Sans, Semibold";
  font-size: var(--subtitle_text_font_size);
}

.radio-group {
  padding-left: 10px;
}

#brtRadio {
  font-size: 12px;
}
#brtRadio .MuiSvgIcon-fontSizeSmall {
  width: 16px;
  height: 16px;
}
#brtRadio .MuiFormControlLabel-label {
  font-size: var(--base_text_font_size);
  font-family: "Open Sans";
}

#brtRadioExpand {
  font-size: var(--base_text_font_size);
}
#brtRadioExpand .MuiSvgIcon-fontSizeSmall {
  width: 16px;
  height: 16px;
}
#brtRadioExpand .MuiFormControlLabel-label {
  font-size: var(--base_text_font_size);

  font-family: "Open Sans";
}

.flex-container {
  display: flex;
  margin-top: 15px;
  font-family: "Open Sans, Regular";
}

.flex-item {
  margin-left: 10px;

  font-size: var(--base_text_font_size);
}

.flex-item p .MuiSelect-select {
  font-size: var(--base_text_font_size);
  border: 1px solid #cecece;
  height: 15px;
  border-radius: 2px;
  font-family: "Open Sans";
}

.flex-item p .MuiButton-root {
  font-size: var(--base_text_font_size);
  width: 80px;
  top: 16px;
  text-transform: capitalize;
  color: var(--button_color) !important;
  color: var(--button_color);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid var(--button_color) !important;
  border-radius: 2px;

  font-family: "Open Sans, Semibold";
}

.MuiMenu-list li {
  font-size: 12px !important;
}

.associate-list,
.associate-list-expand {
  margin: 10px !important;
  max-height: 150px;
  overflow-y: auto;
}

.associate-tbl,
.associate-tbl-expand,
.associate-tbl-expand-rtl,
.associate-tbl-rtl {
  width: 100%;
  border-spacing: 0;
}

.associate-tbl th {
  text-align: left;
  padding: 5px;
  font-size: var(--base_text_font_size);
  font-family: "Open Sans, Semibold";
}

.associate-tbl td {
  text-align: left;
  padding: 5px;
  font-size: var(--sub_text_font_size);
  font-family: "Open Sans, Regular";
}

.associate-tbl-rtl th {
  text-align: right;
  padding: 5px;
  font-size: var(--base_text_font_size);
}

.associate-tbl-rtl td {
  text-align: right;
  padding: 5px;
  font-size: var(--sub_text_font_size);
}

.associate-tbl-expand th {
  text-align: left;
  padding: 5px;
  font-size: var(--subtitle_text_font_size);
}

.associate-tbl-expand td {
  text-align: left;
  padding: 5px;
  font-size: var(--base_text_font_size);
}

.associate-tbl-expand-rtl th {
  text-align: right;
  padding: 5px;
  font-size: var(--subtitle_text_font_size);
}

.associate-tbl-expand-rtl td {
  text-align: right;
  padding: 5px;
  font-size: var(--base_text_font_size);
}

.associate-tbl th,
.associate-tbl-expand th,
.associate-tbl-expand-rtl th,
.associate-tbl-rtl th {
  background-color: #f8f8f8;
  font-family: "Open Sans, Semibold";
}
.associate-tbl td,
.associate-tbl-expand td,
.associate-tbl-expand-rtl td,
.associate-tbl-rtl td {
  font-family: "Open Sans, Regular";
}

.associate-tbl tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.associate-tbl-expand tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.associate-tbl-rtl tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.associate-tbl-expand-rtl tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.required {
  color: #d53d3d;
}

.flexExpanded {
  margin-left: 10px;
  text-align: left;
  font-size: var(--base_text_font_size);
}

.flexExpanded p .MuiSelect-select {
  font-size: var(--sub_text_font_size);
  border: 1px solid #cecece;
  height: 15px;
  width: 220px;
  border-radius: 2px;
  font-family: "Open Sans";
}

.versionExpanded {
  margin-left: 10px;
  text-align: left;
  font-size: var(--base_text_font_size);
}

.versionExpanded p .MuiSelect-select {
  font-size: var(--sub_text_font_size);
  border: 1px solid #cecece;
  height: 15px;
  width: 60px;
  border-radius: 2px;
  font-family: "Open Sans";
}

.mappingContainer {
  margin-top: -35px;
  margin-left: 35px;
  border-left: 1px solid #606060;
  color: #606060;
  width: 75%;
}

.mapping-tbl-container {
  margin-left: 10px;
  font-size: var(--subtitle_text_font_size);
}

.mapping-tbl {
  max-height: 400px;
  overflow-y: auto;
}

.mapping-tbl th,
.mapping-tbl td {
  text-align: left;
  padding: 3px;
  font-size: var(--base_text_font_size);
}

.mapping-tbl .MuiSelect-select {
  font-size: var(--base_text_font_size);

  border: 1px solid #cecece;
  height: 15px;
  border-radius: 2px;
  font-family: "Open Sans";
}

.mappingTab .MuiTabs-root {
  border-bottom: 1px solid #cecece;
}

.tabList .Mui-selected {
  color: var(--selected_tab_color) !important;
}
.tabList .PrivateTabIndicator-colorSecondary-142 {
  background-color: var(--selected_tab_color) !important;
}

.mapped-tbl-container {
  max-height: 275px;
  overflow-y: auto;
}

.mapped-table-header {
  background-color: #cecece;
  opacity: 0.71;
  border-radius: 2px;
  color: #000;
  max-width: 150px;
}

.mapped-table .MuiTableCell-root {
  border-bottom: none;
  padding: 10px;
  font-size: var(--base_text_font_size);
  font-family: "Open Sans, Regular";
}

.outlined-basic .MuiOutlinedInput-input {
  padding: 7.5px 14px;
  min-width: 200px;
  height: 15px;
  font-size: 12px;
}

.outlined-basic .MuiOutlinedInput-notchedOutline {
  border-radius: 2px;
  border: 1px solid #cecece;
}

.brtInputRules {
  padding: 0px 14px;
  min-width: 200px;
  height: 15px;
  font-size: var(--base_text_font_size);
  font-family: "Open Sans, Regular";
}

.mapped-table .MuiSelect-select {
  font-size: var(--base_text_font_size);

  min-width: 200px;
  border: 1px solid #cecece;
  border-radius: 2px;
  text-align: left;
  height: 15px;

  font-family: "Open Sans";
}

.tab .MuiTab-wrapper {
  font-weight: 600;
  display: block;
  color: black;
}

.Mui-selected .MuiTab-wrapper {
  color: var(--selected_tab_color) !important;
  font-family: "Open Sans, Semibold";
}

.icon {
}

.tabList .MuiTabs-indicator {
  background-color: var(--selected_tab_color) !important;
}

.brtContainerExpand .MuiSvgIcon-root {
  fill: currentColor;
  width: 1.5rem !important;
  height: 1.5rem !important;
  display: inline-block;

  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
