/*code changes on 3 August 2022 for BugId 112560*/
.DocTypes {
  display: flex;
  align-items: center;
  height: 82vh;
  max-height: 82vh;
  background-color: white;
}

.DocTypes .MuiSvgIcon-root {
  font-size: 1rem !important;
}

.DocTypes .MuiFormControlLabel-root span {
  /*font-size: 0.75rem !important;*/
  font-size: var(--base_text_font_size);

  padding: 0.125rem 0.525rem;
}

.DocTypes #searchBoxId {
  /* width: 12.8125rem !important;*/
  width: 12.8125rem;
}

.DocTypes .oneBox {
  /* padding-top: 5px; */
  display: flex;
  flex-direction: column;
  width: 80vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.DocTypes
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
  text-transform: none !important;
}
.addDocs {
  background-color: white;
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 0.625rem;
  width: 650px;
  height: 350px;
  top: 15%;
}

.addToDo {
  background-color: white;
  width: 45vw;
  position: absolute;
  top: 21.5%;
  left: 27.5%;
  padding: 0;
  height: auto;
}

.addDocsHeading {
  /*font-size: 1rem;*/
  font-size: var(--title_text_font_size);
  margin-bottom: 0.625rem;
  font: normal normal 600 16px/22px Open Sans;
}
.addDocs .buttons_add .MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
  /* width: 3.8125rem !important;
  height: 1.75rem !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #c4c4c4 !important;
  border-radius: 2px !important;
  opacity: 1 !important;
  font-size: 0.625rem;
  text-transform: none !important;
  margin-right: 0.4375rem;*/
  width: 3.8125rem;
  height: 1.75rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  font-size: 0.625rem;
  text-transform: none;
  margin-right: 0.4375rem;
}

.addDocs
  .buttons_add
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
  width: 5.9375rem;
  height: 1.75rem;
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  font-size: 0.625rem;
  margin-right: 0.4375rem;
  text-transform: none !important;
  border-radius: 0px !important;
}

.nameInput {
  top: 280px;
  left: 365px;
  width: 286px;
  height: 24px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 8px;
  opacity: 1;
}

.descInputlabel {
  display: block;
  font-size: 0.875rem;
}

.descTextArea {
  width: 286px;
  height: 80px;
}

.descriptionInput {
  top: 334px;
  left: 365px;
  width: 286px;
  height: 54px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  opacity: 1;
  padding-left: 0px !important;
  padding-top: 0px !important;
}

.nameInputlabel {
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
}

.activities {
  /* width: 12.5rem;*/
  border-right: 1px solid rgb(218, 208, 194);
  font-size: 0.8125rem;
  text-align: center;
  border-bottom: 1px solid rgb(218, 208, 194);
}

.activities:first-child {
  border-left: 1px solid rgb(218, 208, 194);
  border-right: 1px solid rgb(218, 208, 194);
}

.oneActivityColumn {
  /* width: 12.51875rem;*/
  border-right: 1px solid #dad0c2;
  text-align: center;
}

.checkBoxesThree {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.screenHeading {
  /* margin-right: 1.875rem; */
  font-size: var(--title_text_font_size) !important;
  font: normal normal 600 16px/22px Open Sans;
  cursor: pointer;
}
.actvitySearchDiv {
  display: flex;
  align-items: center;
}
.docSearchBar {
  margin-right: 0.625rem;
}

.activityNameDiv {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 0.25rem;
}
.checkBoxesStyling {
  margin-top: -0.625rem;
  margin-left: 0.625rem;
}

.docNameDiv {
  display: flex;
  margin-bottom: 0rem;
  padding: 0.25rem 0rem;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding-left: 10px;
}

.docName {
  font-size: 0.75rem;
  font-weight: 700;
}

.docDescription {
  font-size: var(--sub_text_font_size);
  width: 35%;
}
.oneDocDiv {
  height: 100%;
  width: 23.4375rem;
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
}

#ToDoDescInput,
#ToDoNameInput,
#groupNameInput_exception,
#todo_groupNameId,
#DocDescInput,
#ExceptionNameInput,
#DocNameInput {
  padding: 5px !important;
}

.Rules {
  color: grey;
  /* font-size: 1rem; */
  font-size: var(--title_text_font_size);
  font: normal normal normal 16px/22px Open Sans;
  cursor: pointer;
}
.selectedBottomBorder {
  /* border-bottom: 3px solid #0072c6;*/
  /* border-bottom: 3px solid #0072c6;*/
  border-bottom: 3px solid var(--selected_tab_color);
}

/*code edited on 2 August 2022 for BugId 111822*/
.docSearchDiv {
  display: flex;
  padding: 0.3125rem 0.3125rem 0rem 0.625rem;
  position: sticky;
  top: 2.1rem;
  z-index: 1;
  background-color: white;
}

.activityName {
  font-size: 0.75rem;
  font-weight: 700;
}

.activitySideDiv {
  height: 100%;
  width: 80%;
  /* background-color: white; */
  margin-top: 0.625rem;
  margin-left: 0.1875rem;
  /* border-left: 1px solid rgb(218, 208, 194); */
}

.activityHeadingDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* padding-bottom: 10px;*/
  border-bottom: 1px solid #dad0c2;
  border-left: 1px solid rgb(218, 208, 194);
  position: sticky;
  top: 0rem;
  /*height: 2.55rem;*/
  z-index: 1;
  background-color: white;
}
.activitySideHeading {
  margin-right: 1.875rem;
  /* font-size: 1rem;*/
  font-size: var(--title_text_font_size);
  font: normal normal 600 16px/22px Open Sans;
}

.exceptionMoveTo {
  top: 0px;
  left: 50%;
}

.addException {
  /* color: #0072c6;*/
  color: var(--link_color);
  /*font-size: 12px;*/
  font-size: var(--base_text_font_size);

  cursor: pointer;
  border-bottom: 1px solid #f3f0d7;
  /* position: absolute;
  left: 11vw; */
}

.activityModal {
  display: flex;
  background-color: white;
}

.actModalCheckboxes {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.modalPaperDocType {
  position: absolute;
  z-index: 100;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
  display: flex;
  background-color: white;
  width: 12.5rem;
  left: 0px;
  padding: 1rem;
  font-size: 14px;
}

.activityModal {
  position: absolute;
  z-index: 100;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
  display: flex;
  background-color: white;
  width: 12.5rem;
  left: 0px;
  top: 33%;
  padding: 0.6rem;
  font-size: 14px;
}

.activityModal .actModalCheckboxes .MuiFormControlLabel-root {
  height: 30px;
}

.activityModal
  .actModalCheckboxes
  .MuiFormControlLabel-root
  .MuiIconButton-label
  .MuiSvgIcon-root {
  font-size: 1rem;
}

.activityModal
  .actModalCheckboxes
  .MuiFormControlLabel-root
  .MuiFormControlLabel-label {
  font-size: var(--base_text_font_size);
}

.noDocTypesScreen {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 35%;
}

.checkBoxes .MuiFormControlLabel-root {
  margin-right: 5px;
  margin-left: 0px;
}

.addDocs .MuiFormControlLabel-root .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall {
  height: 1rem;
}

.addDocs .MuiFormControlLabel-root .MuiTypography-body1 {
  font-size: 0.8rem;
}

.activityHeader {
  background-color: white;
  height: 3.56rem;
  width: 12.4rem;
  border-bottom: 1px solid rgb(218, 208, 194);
  display: flex;
  font-size: 1rem;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
}

.activityNameDivDocs {
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.activityHeaderToDo {
  background-color: white;
  height: 3.56rem;
  width: 12.4rem;
  border-bottom: 1px solid rgb(218, 208, 194);
  display: flex;
  font-size: 1rem;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
}

.oneBox::-webkit-scrollbar {
  display: none;
}

.groupNamesDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.groupName {
  margin: 5px 0px 8px 0px;
  font-weight: 600;
  font-size: 14px;
}

/*code added on 2 August for BugId 110100*/
.groupNameExp {
  margin: 5px 0px 8px 0px;
  font-weight: 600;
  font-size: 14px;
  width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addExpButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#moveExp_To_OtherGroup {
  display: flex;
  align-items: center;
}

.activityNameBlock {
  background-color: #eef4fcc4;
  border-bottom: 1px solid #dad0c2;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 6px 10px;
}

.associateFieldDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
  flex-direction: column;
}

.radioGroupsDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedToDoTypeModal {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.selectedToDoTypeDiv {
  display: flex;
  flex-direction: column;
}

.selectTrigger {
  border: 1px solid #d3d3d3;
  height: 17px;
  background-color: white;
  margin: 5px 0px 0px 5px;
  font-size: 10px;
}

.searchBarNFilterInterface {
  display: flex;
  align-items: center;
}

.activities:first-child .oneActivityColumn {
  /*width: 12.45rem !important;*/
}

.pickListInputDiv {
  display: flex;
}

.buttonsAddToDo {
  width: 629px;
  margin-top: 15px;
  position: absolute;
  bottom: 8px;
  text-align: right;
  background: #f5f5f5 0% 0% no-repeat padding-box;
}

#addDocButton {
  cursor: pointer;
  width: 33px;
  height: 17px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-12) / var(--unnamed-line-spacing-17)
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);

  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  color: var(--link_color);

  font-size: var(--base_text_font_size);
  letter-spacing: 0px;

  opacity: 1;
}

.addGroupButton {
  width: 46px;
  height: 17px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-12) / var(--unnamed-line-spacing-17)
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--blue-1-0072c6);
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  font-size: var(--base_text_font_size);
  letter-spacing: 0px;
  /*color: #0072c6;*/
  color: var(--link_color);
  opacity: 1;
  cursor: pointer;
}

#addGroup {
  color: var(--link_color);
}

#triggerInput_todo {
  width: 200px;
  height: 28px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin-bottom: 3px;
  padding-left: 3px;
}

/*.actvitySearchDiv .MuiFormControlLabel-root .MuiSwitch-root {
  width: 30px;
  height: 18px;
  display: inline-flex;
  padding: 12px;
  z-index: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  vertical-align: middle;
}*/
.actvitySearchDiv .MuiFormControlLabel-root .MuiSwitch-root .MuiSwitch-track {
  width: 100%;
  height: 70%;
  opacity: 0.38;
  z-index: -1;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 28px;
  background-color: #000;
}
.MuiSwitch-colorPrimary.Mui-checked {
  color: var(--checkbox_color) !important;
}
.checkBoxesThree .MuiFormControlLabel-root {
  cursor: pointer;
  display: flex;
  justify-content: right;
  margin-left: -11px;
  margin-right: 16px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.actvitySearchDiv .MuiFormControlLabel-label {
  margin-top: -12px;
}

.expandIcon {
  border: none !important;
  cursor: pointer;
  background-color: transparent;
  transform: translateY(-4px);
}
