.tableDetailsMainDiv {
  height: 420px;
}

.tableDetailsDiv {
  display: flex;
  flex-direction: row;
}

.tableAliasName {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 11px 0px 20px 28px;
}

.tableAliasNameInput {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin: 9px 0px 20px 8px;
  width: 229px;
  height: 28px !important;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.tableName {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 11px 0px 20px 18px;
}

.tableNameInput {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin: 9px 0px 20px 8px;
  width: 229px;
  height: 28px !important;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.existingTableButton {
  cursor: pointer;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  padding: 4px;
  height: 28px;
  opacity: 1;
  margin: 9px 0px 20px 20px;
}

.existingTableButtonText {
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  opacity: 1;
}

.headersDiv {
  display: flex;
  flex-direction: row;
  background: #f0f0f0 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 32px;
  width: 1196px;
  margin-left: 10px;
}

.aliasName {
  margin: 5px 0px 7px 39px;
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.type {
  margin: 5px 0px 7px 165px;
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.dataField {
  margin: 5px 0px 7px 156px;
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.role {
  margin: 5px 0px 7px 126px;
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.addVariable {
  cursor: pointer;
  padding: 4px;
  height: 25px;
  margin-top: 4px;
  margin-right: 8px;
  margin-left: auto;
  background: #0072c6 0% 0% no-repeat padding-box;
  border: 2px solid #0072c6 !important;
  border-radius: 2px;
  opacity: 1;
}

.addVariableText {
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.mandatoryFields {
  height: 92px;
  width: 1196px;
  opacity: 1;
  margin-left: 10px;
}

.inputsDiv {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  opacity: 1;
  height: 40px;
}

.predefinedFields {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  opacity: 1;
}

.aliasNameDataInput {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin: 9px 0px 7px 39px;
  width: 191px;
  height: 28px !important;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.typeDataInput {
  margin: 12px 0px 7px 41px;
  width: 126px;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.dataFieldInput {
  margin: 12px 0px 7px 52px;
  width: 159px;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding: 0px 2px;
}

.primaryKeyDetails {
  display: flex;
  flex-direction: row;
}

.autoIncrementId {
  background: #ececec 0% 0% no-repeat padding-box;
  border-radius: 2px;
  margin-right: 5px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  height: 28px;
}

.primaryKey {
  background: #0072c6 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  height: 28px;
}

.foreignKey {
  background: #0072c638 0% 0% no-repeat padding-box;
  border: 1px solid #0072c6;
  border-radius: 2px;
  text-align: center;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #00508a;
  opacity: 1;
  height: 28px;
}

.tagsDiv {
  display: flex;
  flex-direction: row;
  margin: 9px 0px 5px 30px;
}

.tagDiv {
  display: flex;
  flex-direction: row;
  height: 25px;
  margin-top: 2px;
  margin-left: 8px;
}

.autoIncrementInfoIcon {
  color: #606060;
  margin: 2px 2px 0px 2px;
}

.primaryKeyInfoIcon {
  color: #ffffff;
  opacity: 1;
  margin: 2px 2px 0px 2px;
}

.removePrimaryKey {
  display: flex;
  flex-direction: row;
}

.removePrimaryKeyIcon {
  cursor: pointer;
  margin: 2px 2px 2px 0px;
}

.foreignKeyInfoIcon {
  color: #0072c6;
  opacity: 1;
  margin: 3px 2px 0px 2px;
}

.foreignKeyDetails {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

.variableDropdown {
  margin: 9px 0px 7px 34px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 126px;
  height: 28px;
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.dataFieldInputField {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin: 9px 0px 7px 59px;
  width: 159px;
  height: 28px !important;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.menuItemStyles {
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.deleteIcon {
  float: right;
  color: grey;
  margin: 0.809rem 1.188rem 0.875rem 34.125rem;
  cursor: pointer;
  margin-left: auto;
}
