.menuItemStyles {
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

#type_field_mapping_more_options {
  cursor: pointer;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.iconStyle {
  margin-right: 8px;
}

.menuItemImage {
  height: 100%;
}
