.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1vw;
  border-bottom: 1px solid #c4c4c4;
}

.modalBody {
  padding: 0.5rem 1vw;
}

.modalHeading {
  font: normal normal 600 var(--title_text_font_size)/21px Open Sans;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
}

.modalSubHeader {
  padding: 1.75rem 1vw 1.5rem;
}

.starIcon {
  color: red;
  font-size: 1rem;
  margin: 0 0.1vw;
}

.modalLabel {
  font: normal normal normal 12px/17px Open Sans;
  font-size: var(--base_text_font_size);
  letter-spacing: 0px;
  color: #606060;
  margin-bottom: 0.125rem;
}

.labelIntervals {
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
}

.modalInput {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  font: var(--base_text_font_size);
  letter-spacing: 0px;
  color: #606060;
  margin: 0 0 1.25rem;
  display: block;
  width: 80%;
  padding: 0.125rem 0.5rem;
  /*height: 1.5rem;*/
}

.modalInput:disabled {
  background-color: #f8f8f8;
}

.modalTextArea {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  font: normal normal normal 12px/17px Open Sans;
  font-size: var(--base_text_font_size);
  letter-spacing: 0px;
  color: #606060;
  margin: 0 0 0.5rem;
  display: block;
  width: 80%;
  padding: 0.125rem 0.5rem;
  height: 6rem;
}

.modalTextArea:disabled {
  background-color: #f8f8f8;
}

.groupDropdown {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  display: block;
  width: 100%;
  padding: 0.125rem 0.5rem;
  /*height: 1.5rem;*/
  position: relative;
  text-align: left;
}

.modalSelect {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  font-size: var(--base_text_font_size);
  letter-spacing: 0px;
  color: #606060;
  margin: 0 0 0.5rem;
  display: block;
  width: 80%;
  padding: 0.125rem 0;
  /*height: 1.5rem;*/
}

.modalDropdownData {
  padding: 0.125rem 0.5rem !important;
  width: 80%;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #606060;
}

.cancelButton {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  text-align: center;
  font-size: var(--base_text_font_size);
  font-family: var(--font_family);
  letter-spacing: 0px;
  color: #606060;
  padding: 0 1vw !important;
  cursor: pointer;
}

.okButton {
  background-color: var(--button_color) !important;
  color: white !important;
  font-weight: 600 !important;
  border: 1px solid var(--button_color);
  border-radius: 2px;
  text-align: center;
  letter-spacing: 0px;
  padding: 0 1vw !important;
  cursor: pointer;
  font-family: var(--font_family);
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.75rem 1vw;
  border-top: 1px solid #c4c4c4;
}

.closeIcon {
  cursor: pointer;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.properties_radioButton svg {
  width: 1rem;
  height: 1rem;
}

.properties_radioDiv {
  display: flex;
  flex-direction: row !important;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.properties_radioButton {
  margin-right: 1rem !important;
  margin-left: 0rem !important;
}

.properties_radioButton span {
  text-align: left;
  font: normal normal normal 12px/17px Open Sans;
  font-size: var(--base_text_font_size);
  letter-spacing: 0px;
}

.properties_radioButton span:first-child {
  height: 1rem;
  width: 1rem;
  margin: 0 0.25rem 0 0;
}
