.pmweb_switch{
    font-size: 12px !important;
    color:#606060 !important;
    display:none !important;
}
.pmweb_switch .MuiFormControlLabel-label{
    font-size: 12px !important;
    color:#606060 !important;
}
.btnSave {
    color: #fff !important;
    background: #0072c6 !important;
    border-radius: 1px !important;
  }

  .btnDisable {
    color: #00000080 !important;
    background: #0000001f !important;
    border-radius: 1px !important;
  }

  

 