.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Open Sans, Regular";
  height: 40rem;
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
}

.leftPanel {
  flex: 1 1 auto;
  border-right: 1px solid #c4c4c4;
  width: 25%;
}
.rightPanel {
  flex: 3 1 auto;
  width: 75%;
}
.leftHeadSection,
.rightHeadSection {
  border-bottom: 1px solid #c4c4c4;
  height: 7rem;
  max-height: 7rem;
}
.variableHead {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}
.rightsHead {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.heading {
  font-size: var(--title_text_font_size);
}
.showCount {
  font-size: var(--base_text_font_size);
  color: #606060;
}
.showCountRight {
  font-size: var(--base_text_font_size);
  color: #606060;
  flex-grow: 0.5;
}
.row {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
.searchBar {
}
.variableSection {
  margin-top: 0.5rem;
}
.varibleList {
  padding: 0.25rem;
  height: 6.5rem;
  border-bottom: 1px solid #c4c4c4;
}
.varTitle {
  font-size: var(--subtitle_text_font_size);
  font-weight: 600;
  font-family: "Open Sans, Semibold";
}
.actTitle {
  font-size: var(--base_text_font_size);
  font-weight: 600;
  font-family: "Open Sans, Semibold";
}
.switch {
  font-size: var(--base_text_font_size);
  color: #606060;
  display:none !important;
}

.rightsActivities {
  display: flex;
  overflow-x: auto;
  width: 60vw;
  margin-top:1rem;
  padding-bottom: 0.5rem;
}
.actColumn {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 1px solid #c4c4c4;
  
}

.actItem {
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-size: var(--base_text_font_size);
  font-weight: 600;
  border-bottom: 1px solid #c4c4c4;
  font-family: "Open Sans, Semibold";
  height: 3.25rem;
}

.checkGroup {
  margin-top: 0.25rem;
}

.rightsCheck {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
  padding: 0 !important;
}

.rightsCheck span:first-child {
  height: 1rem;
  margin: 0;
}

.rightsCheck svg {
  width: 1rem;
  height: 1rem;
}

.rightsCheck span {
  text-align: left;
  font-size: var(--base_text_font_size);

  letter-spacing: 0px;
}
.actRights{
  padding: 1rem;
  height: 6.5rem;
  font-weight: 600;
  border-bottom: 1px solid #c4c4c4;
  font-family: "Open Sans, Semibold";
 
}

.footer {
  width: 100%;
  height: 4.5rem;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  background: #f8f8f8;
}
.btnList {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.arrow{
  height: 12px !important;
  width: 12px !important;
  cursor: pointer;
}
