.pmwebsteps {
  width: 50%;
  height: 44px;
}

.pmwebstepName {
  text-align: left;
  font: normal normal normal 12px/18px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  width: 75px;
}

.pmwebstepButton {
  height: 12px  ;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}
.pmwebbuttons {
  /* width: auto  ;
  height: 1.75rem  ; */
  /* background: #0072c6 0% 0% no-repeat padding-box  ; */
  /* font-family: "Open Sans"; */
  /* opacity: 1  ;
  font-size: 0.75rem  ;
  text-transform: none  ;
  margin-inline: 0.3375rem  ;
  white-space: nowrap  ;
  color: white  ; */
  background-color: var(--button_color) !important;
	color: white !important;
	font-weight: 600 !important;
}
.pmwebcancelButton {
  /* width: auto ;
  height: 1.75rem  ;
  background: white 0% 0% no-repeat padding-box  ;
 
  opacity: 1  ;
  font-size: 0.75rem  ;
  text-transform: none  ;
  margin-inline: 0.3375rem  ;
  white-space: nowrap  ;
  color: #020202b9  ; */
  font-size:1rem !important;
	background-color: white !important;	
	color: var(--button_color) !important;
	border: 1px solid var(--button_color) !important;
	font-weight: 600 !important;

}
