/* .dataExchgTableSectionMainDiv {
  margin-bottom: 40px;
} */

.subHeader {
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 22px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.dataExchgTableSectionDiv {
  margin-top: 18px;
}

.fieldTitle {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  opacity: 1;
}

.asterisk {
  color: red;
  margin-top: 4px;
  margin-left: 2px;
  font-size: 0.75rem;
}

.dropdown {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  width: 8.75rem;
  height: 28px;
  margin-right: 0.75rem;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
}

.cancelBtn {
  background-color: #ffffff;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  cursor: pointer;
  height: 28px;
  width: 60px;
  margin-top: 24px;
  border: 1px solid #c4c4c4;
  padding: 2px;
  border-radius: 2px;
  opacity: 1;
  margin-top: auto;
}

.addBtn {
  background: #0072c6 0% 0% no-repeat padding-box !important;
  border-radius: 2px !important;
  border: 1px solid #0072c6 !important;
  text-align: center;
  font: normal normal 600 12px/17px Open Sans !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  padding: 2px;
  height: 28px;
  margin-top: auto;
  margin-left: 10px;
  width: 40px;
  cursor: pointer;
}

.disabledBtnStyles {
  cursor: default;
  opacity: 0.6;
}

.tableRelationHeader {
  height: 32px;
  background-color: #f0f0f0;
}

.headers {
  text-align: left;
  font: normal normal 600 12px/16px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.parentDataExchgTableHeaderImport {
  margin: 8px 0px 7px 16px;
  width: 122px;
}

.column1Import {
  margin: 8px 0px 7px 55px;
  width: 30px;
}

.childDataExchgTableImport {
  margin: 8px 0px 7px 83px;
  width: 122px;
}

.column2Import {
  margin: 8px 0px 7px 62px;
  width: 55px;
}

.mappingValueDataFont {
  font: normal normal normal 12px/17px Open Sans;
}

.alignMarginTop {
  margin-top: auto;
}

.dataExchgTableNameWidth {
  width: 90px;
}

.asteriskMargin {
  margin-top: auto;
  margin-bottom: 2px;
}

.deleteIcon {
  color: red;
  margin: 6px 26px 7px auto;
  cursor: pointer;
}

.menuItemStyles {
  text-align: left;
  font: normal normal normal 12px/24px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.tableSectionDataDiv {
  border: 1px solid #e4e4e480;
  height: 40px;
}

.tableSectionEnclosingDiv {
  height: 24vh;
  margin-top: 26px;
  margin-right: 0.625rem;
}

.tableSectionDataMainDiv {
  border: 1px solid #e4e4e480;
  max-height: 19.2vh;
  overflow-y: scroll;
}

.tableSectionDataMainDiv::-webkit-scrollbar {
  background-color: transparent;
  width: 0.375rem;
  height: 1.125rem;
}

.tableSectionDataMainDiv::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0.313rem;
}

.tableSectionDataMainDiv:hover::-webkit-scrollbar {
  overflow-y: scroll;
  width: 0.375rem;
  height: 1.125rem;
}
