.nameAndDesc {
  text-align: right;
  font: normal normal 600 14px/19px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 1%;
}

.projectPropertiesValue {
  text-align: right;
  font: normal normal normal 12px/15px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  width: 12rem;
  padding-right: 10px;
}
.cancel {
  padding: 0.25rem 0.5rem;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  cursor: pointer;
  margin: 0 0.25rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  height: 28px;
  border-radius: 2px;
  margin-right: auto;
}

.createProperties {
  background: #0072c6 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  padding: 0px 15px;
  border: none;
  height: 28px;
  padding: 5px;
  color: white;
  cursor: pointer;
  margin-right: 1%;
  margin-left: 3%;
}
.footerProjectProperties {
  width: 99%;
  display: flex;
  align-items: center;
  height: 50px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  bottom: 0;
  margin-right: -2rem;
}
