.AppHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 0.2rem solid var(--brand_color1);
  padding: 0 var(--spacing_h);
}

.headerLogoName {
  display: flex;
  align-items: center;
}

.newgenLogo {
  height: 2.5rem;
}

.vr {
  height: 3rem;
  border: 0.0625rem solid #dadada;
  margin-left: 1rem;
}

.vr_rtl {
  height: 2rem;
  border: 0.0625rem solid #dadada;
  margin-right: 1rem;
}

.heading {
  margin: 0 var(--spacing_h);
  color: #000000;
  padding: 0.25rem 0 0;
  text-align: left;
  font: normal normal bold var(--title_text_font_size) / var(--line_height)
    var(--font_family);
}

.heading_rtl {
  margin: 0 var(--spacing_h);
  color: #000000;
  padding: 0.25rem 0 0;
  text-align: right;
  font: normal normal bold var(--title_text_font_size) / var(--line_height)
    var(--font_family);
}

.AppHeaderIcon {
  margin: 0 0.25rem;
  width: 2rem;
  height: 2rem;
}

select {
  outline: none;
  border: none;
}

.title {
  height: 100%;
  cursor: pointer;
  border-top: 3px solid transparent;
}

.pdActive {
  background: rgba(243, 106, 16, 0.1);
  border-top: 3px solid var(--brand_color1);
  cursor: pointer;
}

.titleTabs {
  width: auto;
  height: 100%;
  margin: 0 0.25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 0.125rem 0 0.5rem;
  border-top: 3px solid transparent;
  /* align-items: center; */
}

.activeTab {
  background: rgba(243, 106, 16, 0.1);
  border-top: 3px solid var(--brand_color1);
  cursor: pointer;
}

.titleTextTabs {
  margin: 0 0.5rem;
  color: #1b1b1b;
  padding: 0.25rem 0 0;
  text-align: left;
  max-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
  font: normal normal 600 var(--title_text_font_size) / var(--line_height)
    var(--font_family);
}

.collabTypeLogo_Home {
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  margin: 0 0.25rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.collabName_Home {
  text-align: center;
  font-family: var(--font_family);
  letter-spacing: 0px;
  color: #ffffff;
  font-size: var(--subtitle_text_font_size);
  font-size: 0.75rem;
  font-weight: 600;
}

.titleCloseIcon {
  height: 100%;
}
