.selectWithInputTextField_WS {
  width: 220px !important;
  height: 30px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  border: none !important;
}

.selectWithInputTextField_WS .MuiOutlinedInput-notchedOutline {
  border: 1px solid #c4c4c4 !important;
}

.selectWithInputTextField_WS
  .MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid #c4c4c4 !important;
}

.multiSelectConstInput_WS {
  position: absolute;
  width: 152px !important;
  height: 17px !important;
  /*  top: 0.25rem;*/
  left: 2vw;
  z-index: 100;
  font: normal normal normal 12px/17px Open Sans !important;
  border: none;
  margin: 0.05rem 0.05rem;
  padding: 2px 8px !important;
}

.selectWithInput_WS {
  width: 220px !important;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 2.5rem;
}

.selectDateTime_options {
  width: 161px;
  /* height: 24px;*/
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 12px/17px Open Sans;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 14px;
}

.selectPlusMinus_options {
  width: 50px;
  /*  height: 24px;*/
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 12px/17px Open Sans;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin-right: 10px;
  margin-top: 10px;
}

.time_Options {
  width: 220px;
  /* height: 24px;*/
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 12px/17px Open Sans;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin-right: 10px;
  margin-top: 8px;
}

.options_days {
  /* margin-right: 14px; */
  font-size: 12px;
  margin-top: 5px;
}

.options_hours {
  /* margin-right: 8px; */
  font-size: 12px;
  margin-top: 5px;
}

.options_minutes {
  /* margin-right: 16px; */
  font-size: 12px;
  margin-top: 5px;
}

.options_seconds {
  /* margin-right: 14px; */
  font-size: 12px;
  margin-top: 5px;
}

.options_time {
  display: flex;
}

#OptionsTab {
  padding: 5px;
  /* overflow-y: scroll; */
  height: 70vh;
}

.holdUntilLabel {
  font-size: var(--subtitle_text_font_size);
  font-weight: 700;
  margin-top: 8px;
}

.holdUntilDiv,
.onExpiryDivSection {
  display: flex;
}

.optionsTab_timeMapping {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 49px;
}

.option_selectionBoxes {
  display: flex;
  flex-direction: column;
}

.onExpiryLabel {
  font-size: var(--subtitle_text_font_size);
  font-weight: 700;
  margin-top: 8px;
  /* margin-right: 16px; */
}

.triggerLabel {
  font-size: var(--subtitle_text_font_size);

  font-weight: 700;
  margin-top: 8px;
}

.turnAroundTimeLabel {
  font-size: var(--subtitle_text_font_size);

  font-weight: 700;
  margin-top: 20px;
  margin-left: -20px;
}

.triggerDivSection {
  display: flex;
  align-items: center;
}
#OptionsTab .MuiFormControlLabel-label {
  font-size: var(--base_text_font_size) !important;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]
  .MuiAutocomplete-endAdornment {
  right: 0;
}
.MuiAutocomplete-endAdornment {
  /* top: calc(50% - 14px); */
  right: 0;
  position: absolute;
}
#OptionsTab .MuiSvgIcon-root {
  width: 1.5rem !important;
  height: 1.5rem !important;
  display: inline-block;

  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
#OptionsTab .MuiAutocomplete-endAdornment {
  right: 6px;
  position: absolute;
}

#manualUnhold {
}

#events {
}

.timerHeading {
  margin-top: 0.5rem;
  background: #f5f5f5;
}
.targetAct {
  font-weight: 700;
  margin-top: 8px;
}
.eventsField {
  display: flex;
  margin: 0.25rem;
  padding: 0.25rem;
  margin-top: 1rem;
}
.evtFldName {
  display: flex;
  gap: 0.5rem;
}
.elementLabel {
  font-size: 12px;
}
.elementTxt {
  margin-top: -1rem;
}
.elementSelect {
  margin-top: -1rem;
}

.elementTxt .time_Options {
  border: none;
}

.elementTxt .time_Options input[type="text"] {
  height: 32px !important;
}

.btnEvent {
  margin-top: -0.25rem !important;
}

.associate-list,
.associate-list-expand {
  margin: 10px;
  height: auto;
}

.associate-tbl,
.associate-tbl-expand,
.associate-tbl-expand-rtl,
.associate-tbl-rtl {
  width: 100%;
  border-spacing: 0;
}

.associate-tbl th {
  text-align: left;
  padding: 5px;
  font-weight: 600 !important;
  font-size: var(--base_text_font_size) !important;
  font-family: var(--font_family) !important;
}

.associate-tbl td {
  text-align: left;
  font-size: var(--base_text_font_size) !important;
  font-family: var(--font_family) !important;
  padding-left: 8px !important;
  padding-right: 0px;
  border-bottom: solid 1px #f5f5f5 !important;
}

.associate-tbl-rtl th {
  text-align: right;
  padding: 5px;
  font-weight: 600 !important;
  font-size: var(--base_text_font_size) !important;
  font-family: var(--font_family) !important;
}

.associate-tbl-rtl td {
  text-align: right;
  font-size: var(--base_text_font_size) !important;
  font-family: var(--font_family) !important;
  padding-right: 8px !important;
  padding-right: 0px;
  border-bottom: solid 1px #f5f5f5 !important;
}

.associate-tbl-expand th {
  text-align: left;
  padding: 5px;
  font-weight: 600 !important;
  font-size: var(--subtitle_text_font_size) !important;
  font-family: var(--font_family) !important;
}

.associate-tbl-expand td {
  text-align: left;
  font-size: var(--base_text_font_size) !important;
  font-family: var(--font_family) !important;
  padding-left: 8px !important;
  padding-right: 0px;
  border-bottom: solid 1px #f5f5f5 !important;
}

.associate-tbl-expand-rtl th {
  text-align: right;
  padding: 5px;
  font-weight: 600 !important;
  font-size: var(--subtitle_text_font_size) !important;
  font-family: var(--font_family) !important;
}

.associate-tbl-expand-rtl td {
  text-align: right;
  font-size: var(--base_text_font_size) !important;
  font-family: var(--font_family) !important;
  padding-right: 8px !important;
  padding-right: 0px;
  border-bottom: solid 1px #f5f5f5 !important;
}

.associate-tbl th,
.associate-tbl-expand th,
.associate-tbl-expand-rtl th,
.associate-tbl-rtl th {
  background-color: #f8f8f8;
}

.associate-tbl tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.associate-tbl-expand tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.associate-tbl-rtl tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.associate-tbl-expand-rtl tr:nth-child(odd) {
  background-color: #f8f8f8;
}
