.subDiv {
  padding-right: 1.25rem;
  padding-top: 13.75px;
}

.processDetails {
  text-align: left;
  font: normal normal 600 12px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-right: 0.3125rem;
}

.ownerEmailIdInput {
  border: 1px solid #cecece;
  border-radius: 2px;
  opacity: 1;
  height: 28px;
  width: 405px;
  margin-top: 2px;
  margin-left: 48px;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans !important;
  letter-spacing: 0px;
  color: #000000;
}

.fieldValue {
  margin-right: 6px;
  margin-left: 40px;
  width: 20px;
}

.flexRow {
  display: flex;
  flex-direction: row-reverse;
}

.footerSubDiv {
  float: left;
  margin-left: 20px;
  margin-top: 11px;
}

.escalateToFieldsDropdown {
  width: 100px;
  height: 28px;
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 12px/17px Open Sans !important;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin-left: 10px;
}

.disabledBtn {
  background: rgba(0, 0, 0, 0.12) !important;
  border-radius: 2px !important;
  border: none !important;
  font: normal normal 600 12px/17px Open Sans !important;
  letter-spacing: 0px !important;
  color: rgba(0, 0, 0, 0.5) !important;
  text-transform: none !important;
  padding: 0.125rem 0.125rem !important;
  cursor: default !important;
  height: 28px;
  margin-left: 10px;
}

.turnAroundTimeInput {
  width: 44px;
  margin-left: 0px;
}
