.templateMainScreen {
  background: #f6f6f6 0% 0% no-repeat padding-box;
  display: flex;
  height: 100%;
}

.categoryListViewArea {
  width: 20vw;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.categoryDetailedViewArea {
  width: 75vw;
  overflow: hidden;
}

.noSelectedCategoryScreen {
  width: 75vw;
  margin: 15% 0;
  text-align: center;
  align-items: center;
}

.noSelectedCategoryString {
  margin-top: 0.5rem;
  font-size: var(--base_text_font_size);
  letter-spacing: 0px;
  color: #3a3a3a;
}

.templateSearchHeader {
  padding: var(--spacing_v) 0.5vw 1rem;
}

.templateHeadingArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.templateHeading {
  text-align: left;
  font: normal normal 600 var(--subtitle_text_font_size) / 19px
    var(--font_family);
  letter-spacing: 0px;
  color: #000000;
}

.addCategoryHeading {
  text-align: left;
  font-size: var(--title_text_font_size);
  letter-spacing: 0px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1rem;
  border-bottom: 1px solid #c4c4c4;
  padding: 0.75rem 1rem 0.75rem;
}

.categoryName {
  display: flex;
  align-items: center;
}

.labelHeading {
  text-align: left;
  font: normal normal 500 var(--base_text_font_size) / 17px var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 0.25rem;
  padding: 0 1rem;
}

.newNameHeading {
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 17px var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  margin: 0.25rem 0;
  padding: 0 1rem;
}

.starIcon {
  color: red;
  margin-left: 0.25vw;
  font-size: var(--base_text_font_size);
}

.nameInput {
  width: 25vw;
  height: 2.25rem;
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  border: 1px solid #dadada;
  padding: 0.5rem;
  margin: 0 1rem 1rem;
}

.newNameInput {
  width: 18vw;
  height: 2.25rem;
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  border: 1px solid #dadada;
  padding: 0.5rem;
  margin: 0 1rem 1rem 0.5rem;
}

.descInput {
  width: 25vw;
  height: 5rem;
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  border: 1px solid #dadada;
  padding: 0.5rem;
  margin: 0 1rem 0.5rem;
}

.descInput::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.5rem;
  background-color: white;
}
.descInput::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 4px;
}

/*code edited on 21 June 2022 for BugId 111115*/
.errorMessage {
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  letter-spacing: 0px;
  text-align: left;
  color: #d12c2c;
  margin-bottom: 0.75rem;
  padding: 0 1rem;
}

.templateHeadingPlusBtn {
  text-align: left;
  font: normal normal 800 24px/29px var(--font_family);
  letter-spacing: 0px;
  color: var(--button_color);
  cursor: pointer;
}

.searchBoxArea {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing_v);
  align-items: center;
}

.searchBox {
  flex: 1;
  margin-right: 0.5vw;
}

.categoryHeader {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #00000014;
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0.75rem 0 0.5rem;
  padding: 0.75rem 1vw;
  align-items: start;
}

.categoryHeadingDesc {
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  margin-left: 0.5vw;
  width: 65vw;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showMore {
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  letter-spacing: 0px;
  color: var(--link_color);
  margin-left: 0.25rem;
  font-weight: 600;
  cursor: pointer;
}

.categoryHeaderDisplay {
  display: flex;
  align-items: start;
}

.templateButtonArea {
  display: inline-flex;
}

.templateMoreVertIcon {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  padding: 0.125rem 0.25rem 0;
}

.moreVertIcon {
  width: 1.5rem !important;
  height: 1.5rem !important;
  color: #70707095 !important;
  margin-top: 1px;
  cursor: pointer;
}

.moreVertGridIcon {
  width: 1.75rem !important;
  height: 1.75rem !important;
  color: #70707095 !important;
  padding-top: 0.5rem;
  cursor: pointer;
}

.categoryHeading {
  text-align: left;
  font: normal normal 600 var(--title_text_font_size) / 22px var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  margin-left: 0.5vw;
}

.categoryTemplatesList {
  margin: 0.75rem 0.5rem 1rem 0.25rem;
  height: 80vh;
}

.templateFilterArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.listViewBtn {
  width: var(--line_height);
  height: 28px;
  margin: 0 !important;
  cursor: pointer;
  background: #efefef 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 0px 2px 2px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.selectedListViewBtn {
  width: var(--line_height);
  height: 28px;
  margin: 0 !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid var(--button_color);
  border-radius: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.searchDiv {
  display: inline-flex;
}

.templateListTable {
  overflow-y: auto;
  margin-top: 0.75rem;
  height: 75vh;
}

.templateListTable::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  background-color: transparent;
}
.templateListTable::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 4px;
}

.templateGridView {
  margin: 0 0 0 0.25rem;
  display: inline-block;
  width: 99.5%;
}

.templateListTableHeader {
  display: flex;
  align-items: center;
  margin: 0 0.25rem;
  padding: 0.25rem 0 0;
  height: 30px;
  background: #f0f0f0 0% 0% no-repeat padding-box;
}

.templateListTableHeaderIcon {
  width: 6.5%;
  text-align: center;
}

.templateListTableHeaderName {
  width: 25%;
  font-size: var(--base_text_font_size);
  font-weight: 600;
  text-align: left;
}

.templateListTableHeaderDate {
  width: 10%;
  font-size: var(--base_text_font_size);
  font-weight: 600;
  text-align: center;
}

.templateListTableHeaderCreatedBy {
  width: 20%;
  font-size: var(--base_text_font_size);
  font-weight: 600;
  text-align: left;
}

.templateListTableHeaderExtras {
  width: 16.5%;
  font-size: var(--base_text_font_size);
  font-weight: 600;
  text-align: left;
}

.templateListTableHeaderUsage {
  width: 24%;
  font-size: var(--base_text_font_size);
  font-weight: 600;
  text-align: left;
}

.templateListTableRow {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 45px;
  margin: 0rem 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
  cursor: pointer;
}

.templateListTableRow:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.templateListTableIcon {
  width: 6.5%;
  text-align: center;
}

.templateName {
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  display: inline-flex;
}

.templateScope {
  background: #0072c6 0% 0% no-repeat padding-box;
  border-radius: 1px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  width: fit-content;
  font: normal normal normal 10px/15px var(--font_family);
  padding: 0 0.25rem;
  align-items: center;
}

.templateListTableName {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.templateListTableDate {
  width: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--base_text_font_size);
  letter-spacing: 0px;
  color: #000000;
}

.templateListTableCreatedBy {
  width: 20%;
  font-size: var(--base_text_font_size);
  text-align: left;
  display: flex;
  flex-direction: column;
}

.templateCreationDate {
  color: #a0a0a0;
}

.templateListTableExtras {
  width: 16.5%;
  font-size: var(--base_text_font_size);
  font-weight: 600;
  justify-content: end;
  padding-right: 2vw;
  display: inline-flex;
  align-items: center;
}

.templateListTableUsage {
  width: 24%;
  font-size: var(--base_text_font_size);
  font-weight: 600;
  justify-content: end;
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.createProcessBtn {
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 17px var(--font_family);
  letter-spacing: 0px;
  color: var(--link_color);
  background: transparent;
  border: none;
  margin-right: 1vw;
  cursor: pointer;
}

.templateUsageCount {
  text-align: left;
  font: italic normal normal 11px/15px var(--font_family);
  letter-spacing: 0px;
  color: #727272;
  margin-right: 1vw;
}

/*code edited on 21 June 2022 for BugId 111115*/
.buttonDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-top: 0.5rem;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  padding: 0.75rem 1rem;
}

.deleteModalButtonDiv {
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  padding: 0.75rem 0.5rem;
}

.disabledCategoryButton {
  background: rgba(0, 0, 0, 0.15) !important;
  border-radius: 2px !important;
  border: none !important;
  letter-spacing: 0px !important;
  text-transform: none !important;
  padding: 0.25rem 0.75rem !important;
  cursor: default !important;
  margin: 0 0.5vw 0 0 !important;
  color: #606060 !important;
}

.addCategoryButton {
  background: var(--button_color) 0% 0% no-repeat padding-box !important;
  border-radius: 2px !important;
  border: 1px solid var(--button_color) !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
  text-transform: none !important;
  margin: 0 0.5vw 0 0 !important;
  padding: 0.25rem 0.75rem !important;
}

.cancelCategoryButton {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #c4c4c4 !important;
  border-radius: 2px !important;
  letter-spacing: 0px !important;
  color: #606060 !important;
  text-transform: none !important;
  padding: 0.25rem 1rem !important;
  margin: 0 0.5vw 0 0 !important;
}

.templateCount {
  display: flex;
  align-items: center;
}

.templateLogo {
  width: 1.5rem;
  height: 1.5rem;
}

.infoIcon {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-top: 4px;
  color: #70707095 !important;
}

.templateInfoIcon {
  width: 1.25rem !important;
  height: 1.25rem !important;
  margin-left: 0.25vw;
  margin-top: 1px;
  color: #70707095 !important;
}

.templatePredefinedIcon {
  width: 1.25rem !important;
  height: 1.25rem !important;
  margin-left: 0.25rem;
  margin-top: 1px;
  color: var(--brand_color2) !important;
}

.categoryPredefinedIcon {
  width: 1.125rem !important;
  height: 1.125rem !important;
  margin-left: 0.25vw;
  color: var(--brand_color2) !important;
}

.templateIcon {
  margin-top: 0.25rem;
}

.categoryFilterBtn {
  position: absolute;
  width: 14vw;
  z-index: 100;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
}

.moreVertCategoryModal {
  position: absolute;
  width: 9vw !important;
  z-index: 100;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
  margin-left: 0.5vw;
  margin-top: -0.125rem;
}

.moreVertProcessHeaderModal {
  position: absolute;
  width: 10vw;
  right: 2vw;
  z-index: 100;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
  margin-left: 0.5vw;
  margin-top: 0.5rem;
}

.moreVertHeaderModal {
  position: absolute;
  width: 8vw !important;
  z-index: 100;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
  margin-right: 0.5vw;
  right: 0;
  margin-top: -0.125rem;
}

.moreVertTemplateModal {
  position: absolute;
  width: 8vw !important;
  z-index: 100;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
  margin-right: 3.5vw;
  right: 0;
}

.moreVertGridTemplateModal {
  position: absolute;
  width: 8vw !important;
  z-index: 100;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c4c4c4;
  margin-right: 1.5vw;
  right: 0;
}

.moreVertDiv {
  padding: 0 !important;
  list-style: none;
}

.moreVertModalOption {
  margin-top: 0px;
  font-size: var(--base_text_font_size);
  color: #000000;
  cursor: pointer;
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.moreVertModalOption:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.moreVertModalDiv {
  display: flex;
  height: 2rem;
}

.noRecordDiv {
  text-align: center;
  margin: 2rem 0;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family);
  letter-spacing: 0px;
  color: #000000;
}

.deleteModalHeading {
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 17px var(--font_family);
  letter-spacing: 0px;
  color: #383737;
  padding: 1rem 1rem 0.5rem;
  border-bottom: 1px solid #c4c4c4;
}

.deleteModalSubHeading {
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 17px var(--font_family);
  letter-spacing: 0px;
  color: #383737;
  padding: 1rem 1rem 0.75rem;
}

.deleteModalName {
  margin-left: 0.5vw;
}

.noteDiv {
  background: #d53d3d3d 0% 0% no-repeat padding-box;
  border: 1px solid #d53d3d;
  border-radius: 2px;
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 17px var(--font_family);
  letter-spacing: 0px;
  color: #383737;
  margin: 0 1rem 0.5rem;
  padding: 0.5rem;
}


.modalHeader {
  height: 50px;
  border-bottom: 1px solid #f5f5f5;
  padding: 5px;
}
.modalLabel {
  float: left;
}
.modalClose {
  float: right;
}
.modalFooter {
  height: 50px;
  border-top: 1px solid #f5f5f5;
  background: #f5f5f5;
}
.modalFooterInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 0.25rem;
}

.modalHeaderRTL {
  height: 50px;
  border-bottom: 1px solid #f5f5f5;
  padding: 5px;
}
.modalLabelRTL {
  float: right;
}
.modalCloseRTL {
  float: left;
}
.modalFooterRTL {
  height: 50px;
  border-top: 1px solid #f5f5f5;
  background: #f5f5f5;
}

.modalFooterInnerRTL {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: start;
  padding: 10px;
}

.modalFooterInnerRTL {
  margin-right: 10px;
}
.labels {
  margin-top: 12px;
}

.modalBody {
  padding: 15px;
  clear: both;
}

.modalControl {
  margin-top: 15px;
}

.modalText {
  width: 100%;
}
.cancelMap {
  margin-right: 10px;
  border-radius: 1px;
}
.btnMapModal {
  color: #fff;
  background: #0072c6;
  border-radius: 1px;
}
.btnMapModal:hover {
  color: #fff;
  background: #0072c6;
  border-radius: 1px;
}

.dataContainer {
}

.txtField {
  width: 100%;
  height: 2.5rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family) !important;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  opacity: 1;
  margin-right: 10px;
}
