.cardTemp {
  display: inline-block;
  width: 42vw;
  height: 22rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e4e4e4 !important;
  border-radius: 5px !important;
  margin-top: 0.5rem;
  margin-right: 1.25rem;
  margin-bottom: 0.75rem;
  position: relative;
}

.disabledCard {
  display: inline-block;
  width: 42vw;
  height: 22rem;
  background: rgba(239, 239, 239, 0.7) 0% 0% no-repeat padding-box !important;
  border: 1px solid #e4e4e4 !important;
  border-radius: 5px !important;
  margin-top: 0.5rem;
  margin-right: 1.25rem;
  margin-bottom: 0.75rem;
  position: relative;
}

.tempCardContent {
  padding: 0 !important;
}

.cardHeading {
  text-align: left;
  font: normal normal 600 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.templatePredefinedIcon {
  width: 1rem !important;
  height: 1rem !important;
  margin-left: 0.25rem;
  margin-top: 1px;
  color: #0072c6 !important;
  /* color: #70707095 !important; */
}

.templateUsageCount {
  text-align: left;
  font: italic normal normal 11px/15px Open Sans;
  letter-spacing: 0px;
  color: #727272;
  margin-right: 1vw;
}

.extrasDiv {
  display: flex;
  align-items: center;
}

.cardDesc {
  margin: 0.75rem 0;
  text-align: left;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  padding: 0 1rem;
  width: 100%;
  min-height: 0.0125rem;
}

.reusableCardFooter {
  width: 100%;
  height: 3.5rem;
  background: #e1e0e0 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  bottom: 0;
  align-items: center;
  display: flex;
  padding: 0 1rem;
}

.reusableLeftDiv {
  flex: 1;
  display: inline-flex;
  justify-content: flex-start;
}

.reusableRightDiv {
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
}

.previewButton {
  height: 1.9rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  text-align: center;
  margin: 0 0.25rem;
  padding: 0 0.75vw;
  cursor: pointer;
}

.selectButton {
  height: 1.9rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #338ed1;
  border-radius: 2px;
  text-align: left;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #0072c6;
  text-align: center;
  margin: 0 0.25rem;
  padding: 0 0.75vw;
  cursor: pointer;
}

.disabledButton {
  height: 1.9rem;
  background: rgba(239, 239, 239, 0.7) 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  font: normal normal 600 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #606060;
  text-align: center;
  margin: 0 0.25rem;
  padding: 0 0.75vw;
}
