.showRedBorder {
  border: 1px solid red !important;
}

.menuItemStyles {
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 24px
    var(--font_family) !important;
  letter-spacing: 0px;
  color: #000000;
}

.selectConstInput {
  position: absolute;
  width: 65%;
  height: 2rem;
  top: 1px;  /*top set to 1px, for entry rule screen*/
  left: 13%;
  z-index: 100;
  font: normal normal normal var(--base_text_font_size) / 17px
    var(--font_family) !important;
  border: none;
}

.selectConstInput:disabled {
  background: none !important;
}

.constantIcon {
  font: normal normal 600 var(--base_text_font_size) / 17px var(--font_family) !important;
  position: absolute;
  top: 0;
  margin: 0.25rem 0.25rem;
  padding: 0.25rem 0;
  width: 10%;
  z-index: 1000;
  text-align: center;
  background: #e5e5e5;
}