.cardDiv {
  width: 100%;
  cursor: default;
  position: relative;
}

.card {
  width: 94%;
  margin: 0% 3% 3%;
}

.cardContent {
  padding: 0.5rem 0 !important;
  border-radius: 3px;
}

.circle-icon {
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 58px;
}

.activityInput {
  border: none;
  width: 85%;
  height: 1.2rem;
  margin-left: 0.25rem;
  background-color: inherit;
}

.moreVertDiv {
  margin-left: auto !important;
  margin-right: 0.5rem !important;
  margin-top: 0.125rem !important;
}

.moreVertIcon {
  color: #606060 !important;
  width: 1rem !important;
  height: 1rem !important;
}

.dragIcon {
  color: grey !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.logoSize {
  width: 1.25rem;
  height: 1.25rem;
}

.activityTypeList {
  margin-left: auto !important;
  margin-top: 0.5rem !important;
}

.newActivityAddDiv {
  position: absolute;
  width: 90%;
  height: 1rem;
  text-align: center;
}

.newActivityAddIcon{
  color: #606060 !important;
  width: 1rem !important;
  height: 1rem !important;
}